input, textarea {
    background-color: transparent;
    border-radius: 4px;
    color: white;
}

form {
    margin:  0 auto;
    width: 444px;
}
button {
    margin-top: 20px;
}
.main-bg {
    background-color: #020613d4;
}

.container {
    margin-top: 130px;
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px 0;
}
h2 { color: white;  font-size: 1.4rem; }

@media only screen and (max-width: 470px ) {

    h1 {
        font-size: 1.2rem;
    }

}
