
@media only screen and (max-width: 1400px ) {

    main {
        width: 80%;
    }

    aside {
        display: none;
    }

    nav {
        width: 60%;
    }

    .ad, .author{
        display: block !important;
        width: 50%;
    }

}

@media only screen and (max-width: 900px ) {

    main {
        width: 90%;
        padding-left: 10px;
        padding-right: 20px;
        text-align: justify;
    }

    header {
        height: 100px;
        flex-direction: column;
    }

    nav {
        width: 100%;
        margin-bottom: 12px;
    }

    aside {
        display: none;
    }

    a {
        font-size: small;
    }

    .img-1 {
        width: 465px;
        margin-left: 35px;
    }

    .ad, .author{
        display: block !important;
        width: 100%;
    }
    
}


@media only screen and (max-width: 400px ) {

    logo {
        padding-left: 10px;
    }

    p {
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 0.87px;
        text-indent: 27
    }

    h1 {
        font-size: 25px;
    }

}
