html {
    background-color: black;
    background-image: url('https://raw.githubusercontent.com/Feguri/My-Website/main/Images/Gifs/stars.gif');
    color: white;
    font-family: 'Cantarell', sans-serif;
}

figure {
    margin-left: 25px;
}

header {
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
    justify-content: space-between;
    top: 0;
    left: 0;
}

main {
    border-radius: 40px;
    width: 50%;
    margin: 110px auto;
    background-color: #020613d4;
    border: 1px solid white;
    padding: 30 60px;
}

aside {
    position: fixed;
    z-index: 2147483645;
    border-radius: 30px;
    width: 160px;
    background-color: #020613d4;
    border: 1px solid white;
    padding: 15 30px;
    margin: 115px 15px;
}

logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    height: 50px;
    margin-top: 4px;
    padding-left: 17px;
    color: #0091e9;
}

span {
    color: #f2c300;

    transition:  .4s;
}

nav {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;

    transition: 0.6s;
}

#red:hover {
    color: #df0000;
}
span:hover {
    color: #df0000;
}
#yellow:hover {
    color: #f2c300;
}
#blue:hover {
    color: #0099f6;
}
#green:hover {
    color: #00b844;
}

.pointer { cursor: pointer; }

#content {
    display: flex;
}

.join {
    background-color: yellow;
}

button:hover {
    background-color: orange;
}

.mt-1 {
    margin-top: 410px;
    margin-left: 30px;
}
.mb-1 {
    top: 0;
    width: 200px;
}
img {
    border: 1px solid white;
    max-width: 100%;
    height: auto;
    width: auto !important; /* ie8 */
}

.quark {
    font-size: small;
}

.quark-img {
    width: 150px;
    height: 150px;
}

.img-1 {
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 8px;

}

h2 {
    font-size: medium;
    text-align: center;
    color: #cccccc;
}
.centralize {
    display: flex;
    justify-content: center;
}
hr {
    width: 30%;
    margin: 30px 0;
}

p {
    font-size: 19px;
    line-height: 35px;
    letter-spacing: 0.87px;
    text-indent: 60px;
    margin-bottom: 60px;
}

.ad { 
    display: none;
    background-color:#020f21;
}
.author {
    display: none;
    background-color:#010811;
}
@media only screen and (max-width: 359px ) {
    #starfleet {
        display: none;
    }
}